# =========================
# .NET / Build artifacts
# =========================
bin/
obj/
**/bin/
**/obj/

# =========================
# SourceLink / Build metadata
# =========================
*.sourcelink.json
*.deps.json
*.runtimeconfig.json
*.generated.*
*.editorconfig

# =========================
# AssemblyInfo (gerado)
# =========================
*.AssemblyInfo.cs
**/AssemblyInfo.cs

# =========================
# Visual Studio / VS Code
# =========================
.vs/
.vscode/
!.vscode/settings.json
*.user
*.suo
*.cache

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
